@model MVCminiproject.Models.Register

@{
    ViewBag.Title = "create";
}

@{
    ViewBag.Title = "show";
}
<h2>create</h2>


@using (Html.BeginForm())
{
    <html>
    <head>
     

        @Html.AntiForgeryToken()

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#Country").change(function () {
                    var id = $(this).val();
                    $("#State").empty();
                    $.get("state_bind", { Countryid: id }, function (data) {
                        var v = "<option>----select---</option>";
                        $.each(data, function (i, v1) {
                            v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                        });
                        $("#State").html(v);
                    });
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                $("#State").change(function () {
                    var id = $(this).val();
                    $("#City").empty();
                    $.get("city_bind", { state: id }, function (data) {
                        var v = "<option>----select---</option>";
                        $.each(data, function (i, v1) {
                            v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                        });
                        $("#City").html(v);
                    });
                });
            });
        </script>

        <script>

            $(function () {

                $('body').on('click', 'a.modal-link', function (e) {

                    e.preventDefault();

                    $("#modal").remove();

                    // Get the Details action URL
                    var url = $(this).attr("href");

                    //Make the Ajax call and render modal when response is available
                    $.get(url, function (data) {
                        $(data).modal();
                    });
                });

            });
        </script>



    </head>



    <body>
        <link href="~/Content/Site.css" rel="stylesheet" />
        <div class="form-horizontal">
            <h4>Register</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.Gender, "Male", new { @Name = "Gender" })
                        Male
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.Gender, "Female", new { @Name = "Gender" })
                        Female
                    </label>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phoneno, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phoneno, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phoneno, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Country", null, "---select Country---")
                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select id="State" name="State">  ----Select---</select>
                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select id="City" name="City">  ----Select---</select>
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Passward, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Passward, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Passward, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Register" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            $("div1").animate({
                height: 'toggle'
            });
        });
    });
</script>




<button>Start Animation</button>



<div1 style="background:#98bf21;height:100px;width:100px;position:absolute;">vicky</div1>

<h2>show</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<link href="~/Content/Site.css" rel="stylesheet" />




@{
    ViewBag.Title = "MVC 4 - Showing Data in DropDown And Grid View";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script href="~/Scripts/js/jquery-2.1.4.min.js"></script>
<script href="~/Scripts/js/b16df3e89e935e0ad4f6-ff6ca3439ed6e2f88563a363ea2b51f46ebb3906.zip"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<link href="~/Content/Site.css" rel="stylesheet" />
<table style="width: 90%; text-align: center; background-color: #ADD8E6; padding: 10px;">
    <tr>
        <td style="padding: 10px; text-align: center; height:30px; background-color:#FF0000;
          font-size:20pt; font-weight:bold; ">

            City :-


            @Html.DropDownList("City", null, "---select value---", Model.registers)
            @*@Html.ValidationMessageFor()*@
        </td>
    </tr>
    <tr>
        <td>
            <div id="registers">
                @Html.Partial("Filter", Model.registers)
            </div>
        </td>
    </tr>
</table>
<script>
    $(document).ready(function () {
        $("#City").append($("<option></option>").val("0").html("-- - select value-- -"));
        $("#City").val("0");
    });
</script>
<script type="text/javascript">

    $('#City').change(function (e) {
        e.preventDefault();
        var url = '@Url.Action("Filter")';
        $.get(url, { Registerid: $(this).val() }, function (result) {
            $('#registers').html(result);
        });
    });
</script>


<link href="~/Content/Site.css" rel="stylesheet" />

<h1><marquee>Rahitech</marquee> </h1>




<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Registerid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phoneno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Passward)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="InfoTBody">
        @foreach (var item in Model.registers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Registerid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phoneno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Passward)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.Registerid }) |
                    @Html.ActionLink("Details", "details", new { id = item.Registerid }, new { @class = "btn modal-link" })
                    @Html.ActionLink("Delete", "DeleteRow", new { id = item.Registerid })
                </td>
            </tr>
        }
    </tbody>
</table>


<tr>
    <td style="padding: 10px; text-align: center; height:30px; background-color:#FF0000;
          font-size:20pt; font-weight:bold; ">
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable(
                    {
                        dom: 'Bfrtip',
                        SVGFEColorMatrixElement: 'hfujfu',
                        button: [
                            'copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5'
                        ]
                    }
                );
            });
        </script>
    </td>
</tr>






<div>
    @Html.ActionLink("Back to List", "create")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
